@import (reference) '../../../../libs/components/src/ui.less';

.icon-arrow {
  font-size: 100px;
  color: fade(@orange, 30%);
}

.form-row {
  margin: 75px 0;

  @media @tablet {
    margin: 150px 0;
  }
}
