@import (reference) '../../../../libs/components/src/ui.less';

.icon-arrow {
  color: fade(@orange, 30%);
  font-size: 70px;

  &-container {
    text-align: center;
    margin: 20px 0;
  }
}

.form-row {
  margin: 75px 0;

  @media @tablet {
    margin: 150px 0;
  }
}

.result {
  &-wrapper {
    text-align: center;
    margin-bottom: 100px;
  }

  &-inner {
    display: inline-block;
  }
}
